@import 'variables.scss';

@media (max-width: 500px) {
  html {
    font-size: 0.9rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  height: 100vh;
  height: 100svh;
  color: black;
}

body {
  background: #fff;
  position: relative;
  padding: 0 $h-padding;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img,
svg {
  width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

p {
  line-height: 1.4rem;
}
