@import './variables.scss';

.home {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  padding-top: 60px;
  margin-bottom: 5rem;

  &__logo {
    width: clamp(6rem, 50%, 16rem);
    margin: 6rem auto 4rem;
    padding-right: 30px;
  }

  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    width: max-content;
    font-weight: bold;
    margin: 0.6rem 0 1.2rem;
  }

  &__description {
    max-width: 400px;
  }

  &__btn-down {
    border: 2px solid black;
    background: none;
    padding: 0.5rem 1.5rem;
    color: #000;
    text-transform: uppercase;
    font-size: 1.2rem;
    width: max-content;
    position: absolute;
    right: 0;
    bottom: 1.5rem;
    display: flex;
    white-space: nowrap;
    height: min-content;
    align-items: center;

    img {
      width: 1.8rem;
      margin-left: 1rem;
      transform: rotate(90deg);
    }
  }

  @media screen and (min-width: $max-width) {
    align-items: center;

    &__title {
      font-size: 5rem;
    }

    &__description {
      max-width: 500px;
      text-align: center;
    }
  }

  @media screen and (min-height: 780px) {
    &__btn-down {
      bottom: -1.5rem;
      transform: rotate(90deg);
      transform-origin: right top;
    }
    &__btn-down img {
      transform: rotate(0deg);
    }
  }
}
