@import 'variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  margin: auto;
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: bold;

  &__logo {
    height: 3rem;
  }

  &__links {
    display: flex;
  }

  &__link {
    margin-left: 2rem;
  }
}
