.skills {
  &__category {
    margin-bottom: 2.6rem;
    border-left: 2px solid #000;
  }

  .view {
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;

    &__label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.85rem;
    }

    svg {
      padding: 0.2rem;
      border: 2px solid #fff;
    }

    svg,
    svg path {
      fill: inherit;
      stroke: inherit;
    }

    &__icons {
      display: flex;
    }

    &__icon {
      width: 3rem;
      fill: #c5c5c5;
      stroke: #c5c5c5;
      cursor: pointer;
      margin-right: 0.5rem;
    }

    &__icon--chosen svg {
      box-sizing: border-box;
      fill: #000;
      stroke: #000;
      border: 2px solid #000;
    }
  }

  &__category-label {
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    position: relative;
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem 0.2rem 0.3rem;
    display: inline-flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      background: #000;
      z-index: -2;
      right: 0;
      left: -30vw;
    }

    // with gradient

    // &::before {
    //   content: '';
    //   position: absolute;
    //   height: 100%;
    //   background: rgb(255, 255, 255);
    //   background: linear-gradient(
    //     90deg,
    //     rgba(255, 255, 255, 1) 0%,
    //     rgba(255, 255, 255, 1) 70%,
    //     rgba(0, 0, 0, 1) 100%
    //   );
    //   z-index: -1;
    //   right: 100%;
    //   left: -30vw;
    // }
  }

  &__badges {
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    gap: 1.6rem 0.8rem;
    justify-content: space-between;
    padding: 1rem;
  }
}

.canvas-container {
  margin-top: -100px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .canvas-container {
    height: 120vw;
  }
}

@media screen and (max-width: 450px) {
  .canvas-container {
    margin-top: -50px;
  }
}
